* {

    padding:0
    margin:0;
}
html {
    background-color:rgb(255, 243, 243);
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height:2.5em;
    color:rgb(24, 24, 24); 
    text-align:center; 
}
body {
    margin-left: 15%;
    margin-right:15%; 
    background-color:white; 
    border: 4px rgb(255, 0, 0) double;
    border-radius: 10px;
}
.fixed {
    position:relative;
    background-color:white;
    border: red double 4px;
   
}
.title {
    font-size:275%;
    padding:5px 10px; 
}
.icon {
    width:100px;
    float:left;
    padding:2px 15px;
    
}
.left {
    float:left; 
}
.right {
    float:right;
}
.aside {
    background-color:white;
   
}
.poster {
    width:60%;
    margin-top:20px;
    border-radius: 10px;
    border: rgb(255, 0, 0) 4px double; 
}
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}